spring:
  application:
    name: order-service


server:
  port: ${SERVER_PORT:8083}



eureka:
  client:
    serviceUrl:
      defaultZone: http://${EUREKA_HOST:localhost}:${EUREKA_PORT:8761}/eureka/

ribbon:
  eureka:
    enabled: true