spring:
  application:
    name: product-service


server:
  port: ${SERVER_PORT:8081}
eureka:
  client:
    serviceUrl:
      defaultZone: http://${EUREKA_HOST:localhost}:${EUREKA_PORT:8761}/eureka/

ribbon:
  eureka:
    enabled: true


